.images {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.images img {
    border-radius: var(--border-radius-primary);
    max-width: 100%;
}

p {
    color: #777;
    margin-top: 20px;
    line-height: 30px;
    word-wrap: break-word;
    word-break: break-all;
}

@media (max-width:992px){
    .images  {
        flex-direction: column;
    } 
}