.browser {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

@media (max-width:767px){
    .browser {
        flex-direction: column;
    }
}

.browser  .section-wrapper {
    padding: 15px;
    justify-content: flex-start;
    gap: 15px;
    margin: 0;

}


.browser .browser-card .mostPopular-item .card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.browser .browser-card .mostPopular-item .card-wrapper div{
    width: 40%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.browser .browser-card .mostPopular-item .card-wrapper div ul {
    padding: 0;
    width: 100%;
    display: flex;    
    justify-content: space-around;
}
.browser .browser-card .mostPopular-item .card-wrapper div h4 {
    width: 100%;
    text-align: center;
}

