.slider .mostPopular-item {
    width: 100%;
}


.browser  .slider {
    flex: 1 1 100%;
}

.browser  .slider .section-wrapper {
    width: 100%;
    padding: 0;
}

.browser  .slider .card-wrapper {
    background-color: var(--color-darkest);
}

.browser  .slider .section-header {
    width: 100%;
    padding: 15px 0px 0 25px;
}