.profile {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 5px;
    flex-wrap: wrap;
   border-bottom: 1px solid var(--color-dark);
   padding-bottom: 20px;

}

.profile img {
    border-radius: var(--border-radius-primary);
    width: 100%;
}

.profile div:not(:first-child){
    flex: 1;
}

.profile .profile-card .offline   {
    background-color: var(--color-primary);
    width: fit-content;
    padding: 5px 20px;
    color: var(--color-light);
    border-radius: var(--border-radius-primary);
    cursor: pointer;
}

.profile-btn {
    padding: 10px 20px;
    color: var(--color-light);
    border-radius: var(--border-radius-primary);
    cursor: pointer;
    outline: 1px solid var(--color-primary);
    color: var(--color-primary) ;
    font-size: 18px;
    width: fit-content;
    cursor: pointer;
}
@media (max-width:767px){
    .profile-btn {
        padding: 10px 15px;
        font-size: 10px;
    }
    .prfile-details ul{
        padding: 0;
    }
    .prfile-details {
        padding: 10px 0;
    }

}


.profile-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}


.profile  .prfile-details {
   background-color: var(--color-dark);
   border-radius: var(--border-radius-primary);
   padding: 10px;

}
.profile  .prfile-details ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-darkest);
    color: var(--color-primary);
    padding: 0 15px;


}