.father {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.father .frist-sec,
.father .second-sec {
    width: 45%;
    background-color: var(--color-dark);
    padding: calc(var(--padding-primary)/2.5);
    border-radius: var(--border-radius-primary);
}

.father .frist-sec ul{
    display: flex;
    flex-direction: column;
}

.father .frist-sec ul li {
    display: flex;
    justify-content: space-between;
}


.father .second-sec ul {
    display: flex;
    justify-content: space-between;

}
.father .second-sec ul li {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 15px 0;
}

.fortnite-btn {
    width: 100%;
    border: 1px solid var(--color-primary);
    display: block;
    text-align: center;
    padding: 10px 5px;
    color: var(--color-primary);
    border-radius: 16px;
    font-weight: 600;
}
.fortnite-btn:hover {
    background-color:var(--color-primary) ;
    color: var(--color-light);
}

.head-img {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.head-img img {
    border-radius: var(--border-radius-primary);
    flex: 1;
    max-width: 100%;

}


@media (max-width:768px){
    .father {
        flex-direction: column;
        gap: 15px 0;
    } 
    .father .frist-sec,
    .father .second-sec {
        width: 100%;
        padding: 10px 20px;
        border-radius: 23px;
    }

    .father .frist-sec ul,
    .father .second-sec ul {
        flex-direction: column;
        padding: 0;
    }   

    .father .frist-sec ul li,
    .father .second-sec ul li{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
}